/* -----------------------------Font----------------------------- */

@font-face {
  font-family: wix2;
  src: url(/fonts/wix2.ttf);
}

@font-face {
  font-family: wix;
  src: url(/fonts/wix.ttf);
}
@font-face {
  font-family: switzer;
  src: url('/fonts/switzer.ttf');
}

@font-face {
  font-family: switzer2;
  src: url('/fonts/switzer2.ttf');
}
@font-face {
  font-family: charlie-bold, sans-serif;
  src: url('/fonts/Charlie_Display-Bold.ttf');
}
@font-face {
  font-family: charlie-reg, sans-serif;
  src: url('/fonts/Charlie_Display-Regular.ttf');
}
@font-face {
  font-family: clash-display-bold;
  src: url('/fonts/ClashDisplay-Bold.ttf');
}
@font-face {
  font-family: clash-display-light;
  src: url('/fonts/ClashDisplay-Light.ttf');
}
@font-face {
  font-family: clash-display-medium;
  src: url('/fonts/ClashDisplay-Medium.ttf');
}
@font-face {
  font-family: clash-display-regular;
  src: url('/fonts/ClashDisplay-Regular.ttf');
}
@font-face {
  font-family: clash-display-semibold;
  src: url('/fonts/ClashDisplay-Semibold.ttf');
}
@font-face {
  font-family: Urdu;
  src: url('/fonts/NotoNastaliqUrdu-VariableFont_wght.ttf');
}





/* -----------------------------Font----------------------------- */


@import "tailwindcss";


@theme{
    --font-wix2 : wix2, "san-serif";
    --font-wix : wix, "san-serif";
    --font-mluvka : mluvka, "san-serif";
    --font-switzer : switzer, "san-serif";
    --font-charlie-bold : charlie-bold, "san-serif";
    --font-charlie-reg : charlie-reg, "san-serif";
    --font-switzer : switzer, "san-serif";
    --font-clash-bold: clash-display-bold, "san-serif";
    --font-clash-semibold: clash-display-semibold, "san-serif";
    --font-clash-medium: clash-display-medium, "san-serif";
    --font-clash-regular: clash-display-regular, "san-serif";
    --font-clash-light: clash-display-light, "san-serif";
    --font-urdu: Urdu, "san-serif";


    
    
  }

  

/* -----------------------------Color Variables----------------------------- */

    
@layer base {
  :root {
    --color-orange: #ff6d10;       /* orange */
    --color-text: #000000 ;        /* black */
    --color-bg: #ffffff;           /* white */
    
  }

  .dark {
    --color-orange: #ff6d10;    /* orange  */
    --color-text: #ffffff;      /* white */
    --color-bg: #000000;        /* black */
    
  }

  /* Optional: smooth color transition */
  * {
    @apply transition-colors duration-300;
  }
}


@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-red-600 via-orange-700 to-amber-600
         text-transparent bg-clip-text;
  }
}


.gradient-border {
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(135deg, #0073ff, #ff9f1c) border-box;
    border: 3px solid transparent;
}

/* -----------------------------Color Variables----------------------------- */




.scroll-reveal-text .word {
  white-space: nowrap;
}

.scroll-reveal-text .char {
  display: inline-block;
}